<ol>
    <% const newLocation => { %>
        <li><a href="/city/Washington">Washington</a></li>

    <% } %> 
</ol>

<li>New York: <% New-York %> </li>
<li>Los Angeles: <% Los-Angeles %></li>
<li>San Francisco: <% San-Francisco %></li>
<li>Seattle: <% Seattle %></li>
<li>Los-Angeles: <% Los-Angeles %></li>
<li>Chicago: <% Chicago %></li>
<li>Baltimore: <% Baltimore %> </li>
<li>Atlanta: <% 'Atlanta %> </li>
<li>Dallas: <% 'Dallas' %> </li>
<li>Austin: <% 'Austin' %> </li>