<h1><%= city %></h1>
<ol>
    <% const newLocation => { %>
        <li><a href="/city/<%= city %>"></a></li>
        <li>Bedroom In City: <%= newLocation.bedroom_in_city %></li>
    <% } %> 
</ol>

<li>New York: <% New-York %> </li>
<li>Los Angeles: <% Los-Angeles %></li>
<li>San Francisco: <% San-Francisco %></li>
<li>Seattle: <% Seattle %></li>
<li>Los-Angeles: <% Los-Angeles %></li>
<li>Chicago: <% Chicago %></li>
<li>Baltimore: <% Baltimore %> </li>
<li>Atlanta: <% 'Atlanta %> </li>
<li>Dallas: <% 'Dallas' %> </li>
<li>Austin: <% 'Austin' %> </li>