<h2>Profile Page</h2>

<h3>Welcome to your PROFILE!</h3>
<h2>These Are The Top 10 Cities to Start a Web Development Career</h2>
<h3>Select the city you are intrested in</h3>

<%   const newLocation = => { %>
   <% Washington,
    New-York,
    Los-Angeles,
    San-Francisco,
    Seattle,
    Los-Angeles,
    Chicago,
    Baltimore,
    Atlanta,
    Dallas,
    Austin,%>

<% } %> 