

<h3>Welcome to your PROFILE!</h3>

<h3>Select the city you are intrested in</h3>

<ol>  
        <li><a href="/Washington">Washington</a></li>
        <li><a href="/New-York">New York</a></li>
        <li><a href="/San-Francisco">San Francisco</a></li>
        <li><a href="/Seattle">Seattle</a></li>
        <li><a href="/Los-Angeles">Los Angeles</a></li>
        <li><a href="/Chicago">Chicago</a></li>
        <li><a href="/Baltimore">Baltimore</a></li>
        <li><a href="/Atlanta">Atlanta</a></li>
        <li><a href="/Dallas">Dallas</a></li>
        <li><a href="/Austin">Austin</a></li>
        
</ol>

<form method="POST" action="/profile?_method=put">
        <input type="text" name="favorite">
        <button class="btn btn-primary" type="submit">Add to My cities</button>
</form>


